################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FloodMonitoringServices/obj
/FloodMonitoringServices/bin/Debug/net6.0
/FloodMonitoringServices/.vs/FloodMonitoringServices
/FloodMonitoringServices/Features/*.feature.cs

/FloodMonitoringServices/.vs
